/**
 * @file
 * Various styles for header elements.
 */
#header {
 margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  //background-color: rgba($primary-color, 0.5);
  background-color: hsl(hue($primary-color), saturation($primary-color), lightness($primary-color));
  //background-image: url('../images/texturetastic_gray.png');
  @include border-radius(0.125em);
  color: $foreground-color;
  padding: 0.125em 0.25em;
  //@include text-shadow(0.125em, 0.0625em, 0.125em, $body-font-color);
  @include text-shadow(0.0625em 0.0625em 0.0625em #222222);
}

.header__name-and-slogan {
  h1, h2, h3, h4, h5, h6 {
    background: none transparent;
    font-family: "Disco Regular", $base-font-family;
    font-size: 2.5em;
    padding: 0;
    text-shadow: inherit;
  }
}

@media all and (min-width: 28em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 3em;
    }
  }
}

@media all and (min-width: 34em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 4em;
    }
  }
}

@media #{$small} {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 4.75em;
    }
  }
}

@media all and (min-width: 55em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 5.5em;
    }
  }
}

@media all and (min-width: 60em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 6.25em;
    }
  }
}

@media all and (min-width: 65em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 6.5em;
    }
  }
}
