/**
 * @file
 * Various styles for header elements.
 */
#header {
 margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  margin: 0.5em 0 0;
  //@include text-shadow(0.0125em 0.0125em 0.0625em #222222);
  @include text-shadow(0 0 0.025em #222222);
  .portfolio-section & {
    color: $portfolio-color;
    a {
      color: $portfolio-color;
    }
  }
  .skills-section & {
    color: $skills-color;
    a {
      color: $skills-color;
    }
  }
  .resume-section & {
    color: $resume-color;
    a {
      color: $resume-color;
    }
  }
  .contact-section & {
    color: $contact-color;
    a {
      color: $contact-color;
    }
  }
}

.header__name-and-slogan {
  h1, h2, h3, h4, h5, h6 {
    color: $header-font-color;
    font-family: "Disco Regular", $base-font-family;
    font-size: 2.5em;
    padding: 0;
    text-shadow: inherit;
  }
}

@media all and (min-width: 28em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 3em;
    }
  }
}

@media all and (min-width: 34em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 4em;
    }
  }
}

@media #{$small} {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 4.75em;
    }
  }
}

@media all and (min-width: 55em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 5.5em;
    }
  }
}

@media all and (min-width: 60em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 6.25em;
    }
  }
}

@media all and (min-width: 65em) {
  .header__name-and-slogan {
    h1, h2, h3, h4, h5, h6 {
      font-size: 6.5em;
    }
  }
}
