/**
 * @file
 * Styles for portfolio nodes.
 */
.views-field-field-portfolio-screenshot,
.field-name-field-portfolio-screenshot {
  border: 1px solid #CCC;
  @include box-shadow(#333 0.125em 0.125em 0.25em);
  margin: 1em 0 2em;
  padding: 0.5em;
}

.views-field-field-portfolio-screenshot {
  float: left;
  margin: 0 2em 2em 0;
}

.view-portfolio .views-row {
  clear: both;
}

.field-name-field-skills {
  @extend %skills-list;
}

.field-name-field-portfolio-link {
  text-align: right;
  a {
    @include button-link($portfolio-color);
  }
}

.view-portfolio .views-field-view-node {
  a {
    @include button-link($portfolio-color, $button-font-size: 0.9em);
    .skills-section & {
      @include button-link($skills-color, $button-font-size: 0.9em);
    }
  }
}
